import { RouteConfig } from "@medusajs/admin";
import { {{toPascalCase model.name}}Create } from "./create/{{model.name}}-create";
import { {{toPascalCase model.name}}Edit } from "./edit/{{model.name}}-edit";

const Page = () => {
  return (
    <div>
      <h1>{{toTitleCase model.plural}}</h1>
      <{{toPascalCase model.name}}Create />
      <{{toPascalCase model.name}}Edit />
    </div>
  );
};

export const config: RouteConfig = {
  link: {
    label: "{{toTitleCase model.plural}}",
    {{#if (isModuleModel model module)}}
    parent: "{{toTitleCase module.plural}}"
    {{else}}
    parent: "{{toTitleCase module.plural}}/{{toTitleCase model.plural}}"
    {{/if}}
  }
};

export default Page; 